@using Microsoft.AspNetCore.Identity
@using RosreestDocks.Helpers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject UserManager<User> UserManager

@{
    ViewHelper viewHelper = new();
    var theme = HttpContextAccessor.HttpContext.Request.Cookies["theme"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @{
        if (theme == null)
        {
            <link id="stylesheet" href="~/css/site-light.css" rel="stylesheet" type="text/css" />
        }
        else
        {
            if (theme == "dark")
            {
                <link id="stylesheet" href="~/css/site-dark.css"  rel="stylesheet" type="text/css" />
            }
            if (theme == "light")
            {
                <link id="stylesheet" href="~/css/site-light.css" rel="stylesheet" type="text/css" />
            }
        }
    }

    <link rel="stylesheet" href="~/css/jquery.dropdown.css">
    <link rel="stylesheet" href="~/css/jquery.dataTables.css">
    <script src="https://kit.fontawesome.com/d2c0d13beb.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar dashboardnavbar">
      <a class="navbar-brand" href="/">
        <h3 class="text-center" style="color: #D83f87 !important;margin:0px;"> РОС </h3>
        <h3 class="text-center" style="color: #4781da !important;"> ИМУЩЕСТВО </h3>
      </a>
      <div class="lowrapper">

          <div class="right_block user">
            <div class="nav-item dropdown show">
				    <a href="/#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-item nav-link dropdown-toggle user-action"> 
                        <i class="fas fa-user" style="width:18px"></i>
                        @viewHelper.GetInitials(await UserManager.GetUserAsync(User))
                        <b class="caret"></b>
                     </a>
				    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="dropdown-item"><i class="fa fa-sliders"></i> Профиль</a>
					    <div class="divider dropdown-divider"></div>
                           <div class="themediv">
                                <label class="themelabel">Темная</label>
                                <label class="switch">
                                  <input id="style_checkbox" type="checkbox">
                                  <span class="slider round"></span>
                                </label>
                                <label class="themelabel">Светлая</label>
                           </div>
                        <div class="divider dropdown-divider"></div>
					    <a asp-area="Identity" asp-page="/Account/Logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Выход</a>
				    </div>
	        </div>
          </div>
      </div>
    </nav>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary" />
            </div>

            <div class="col-6 col-md-6">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@*<img src="~/images/rosimush.png" style="width:200px" alt="rosim">*@</a>
            </div>


            <p style="color:#4781da;margin-left:15px;" class="menu-sep"><b>Распоряжение ВЯ-08\2882</b></p>           
            <ul class="list-unstyled components mb-5 ">
                <li>
                    <a href="/Data/AppealConsider"> 
                    <i class="fas fa-circle mr-2" style="font-size: 6px;"></i>
                        Рассмотерть обращение                                      
                    </a>
                </li>

                <li class="sub-menu">
                      <a ><i class="fas fa-pencil-alt"></i> Обращения<div class="fa fa-caret-down right"></div></a>
                      <ul>
                        <li>                    
                            <a href="/Data/Appeals"> <i class="fas fa-circle mr-2" style="font-size: 6px;"></i>Мои обращения</a>
                        </li>
                        <li>                    
                            <a href="/Data/AppealsLetters"> <i class="fas fa-circle mr-2" style="font-size: 6px;"></i>Мои письма</a>
                        </li>
                        <li>                    
                            <a href="/Data/AppealsCentral"> <i class="fas fa-circle mr-2" style="font-size: 6px;"></i>Мои запросы ЦА</a>
                        </li>
                        <li>                    
                            <a href="/Data/AppealsRaspor"> <i class="fas fa-circle mr-2" style="font-size: 6px;"></i>Мои распоряжения</a>
                        </li>
                        <li>                    
                            <a href="/Data/AppealsClosed"> <i class="fas fa-circle mr-2" style="font-size: 6px;"></i>Мои закрытые</a>
                        </li>
                        <hr>
                        <li>                    
                            <a href="/Data/AllAppeals"> <i class="fas fa-circle mr-2" style="font-size: 6px;"></i>Все обращения</a>
                        </li>
                      </ul>
                 </li>
            </ul>

            <p style="color: #4781da;margin-left:15px;" class="menu-sep"><b>Документы</b></p>   
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="/Data/DocCategories"> 
                    <i class="fas fa-circle mr-2" style="font-size: 6px;"></i>
                        Категории                                      
                    </a>
                </li>
                <li>
                    <a href="/Data/Documents"> 
                    <i class="fas fa-circle mr-2" style="font-size: 6px;"></i>
                        Документы                                      
                    </a>
                </li>
            </ul>
            <p style="color: #4781da;margin-left:15px;" class="menu-sep"><b>Данные</b></p> 
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="/Data/Acronyms"> 
                    <i class="fas fa-circle mr-2" style="font-size: 6px;"></i>
                        Акронимы                                      
                    </a>
                </li>
                <li>
                    <a href="/Data/Organizations"> 
                    <i class="fas fa-circle mr-2" style="font-size: 6px;"></i>
                        Организации                                      
                    </a>
                </li>
                <li>
                    <a href="/Data/Foivs"> 
                    <i class="fas fa-circle mr-2" style="font-size: 6px;"></i>
                        ФОИВ`ы                                      
                    </a>
                </li>
            </ul>

            @if(User.IsInRole("Admin"))
            {
                <p style="color: #4781da;margin-left:15px;" class="menu-sep"><b>Администрирование</b></p> 
                <ul class="list-unstyled components mb-5">
                    <li>
                    <a href="/Administrator/Users"> 
                    <i class="fas fa-circle mr-2" style="font-size: 6px;"></i>
                        Пользователи                                      
                    </a>
                </li>
                <li>
                    <a href="/Administrator/Roles"> 
                    <i class="fas fa-circle mr-2" style="font-size: 6px;"></i>
                        Роли                                      
                    </a>
                </li>
            </ul>
            }



        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <h2 class="mb-4"></h2>
            @RenderBody()
        </div>
    </div>
    

    <footer>
        <a href="/">
            <h3 class="text-center" style="color: #D83f87 !important;margin:0px;"> РОС </h3>
            <h3 class="text-center" style="color: #4781da !important;"> ИМУЩЕСТВО </h3>
        </a>

        <p class="text-center"  >Designed and developed by Anulyev</p>
    </footer>
    @RenderSection("Scripts", required: false) 
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/data.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    
<script>

    function getCook(cookiename){
        // Get name followed by anything except a semicolon
        var cookiestring=RegExp(cookiename+"=[^;]+").exec(document.cookie);
        // Return everything after the equal sign, or an empty string if the cookie name not found
        return decodeURIComponent(!!cookiestring ? cookiestring.toString().replace(/^[^=]+./,"") : "");
    }

    function changeStylesheet() {
        if(document.getElementById("stylesheet").href.includes("light"))
        {
            document.getElementById("stylesheet").href = "/css/site-dark.css";
        }else{
            document.getElementById("stylesheet").href = "/css/site-light.css";
        }
    }

    $(document).ready(function() { 
        var elem = document.getElementById("style_checkbox");
        var themenow = getCook("theme");
        console.log("Theme now: " + themenow);

        if(themenow == "dark")
        {
           $("#style_checkbox").prop("checked", false);
           console.log(elem.checked + " theme must be dark")
        }else 
        {
             $("#style_checkbox").prop("checked", true);
            console.log(elem.checked + " theme must be light")
        }  
    });


    $(document).ready(function()  {
        $('#orgtable').DataTable();
    });

    $(document).ready(function()  {
     $('#foivtable').DataTable();
    });

   $(document).ready(function()  {
        $('#appealtable').DataTable();
    });
    
   $(document).ready(function()  {
       $('#doccattable').DataTable();
   });

   $(document).ready(function()  {
        $('.docs').DataTable();
   });


    $("#style_checkbox").change(function(){
        var a = $(this).prop('checked');

        $.ajax({
                type: "post",
                url: "/Home/ChangeTheme",
                dataType: "text",
                data: a
        });
        changeStylesheet();
    });

</script>

</body>
</html>