@model List<RequestModel>



<title>Письма</title>
<div class="text-center">
    <h1 class="display-7">Письма</h1>
</div>

@await Html.PartialAsync("/Views/Data/Modal/Partial/_TableAppealsPartial.cshtml", @Model)



