@model List<RequestModel>



<title>Запросы ЦА</title>
<div class="text-center">
    <h1 class="display-7">Запросы ЦА</h1>
</div>

@await Html.PartialAsync("/Views/Data/Modal/Partial/_TableAppealsPartial.cshtml", @Model)