@model List<RequestModel>

@{
    ViewData["Title"] = "Все обращения";
}

<div class="text-center">
    <h1 class="display-7">Все обращения</h1>
</div>


@await Html.PartialAsync("/Views/Data/Modal/Partial/_TableAppealsPartial.cshtml", @Model)
