@model List<RequestModel>


@{
    ViewData["Title"] = "Запросы ЦА";
}

<div class="text-center">
    <h1 class="display-7">Запросы ЦА</h1>
</div>

@await Html.PartialAsync("/Views/Data/Modal/Partial/_TableAppealsPartial.cshtml", @Model)