@model List<RequestModel>



<title>Закрытые обращения</title>

<div class="text-center">
    <h1 class="display-7">Закрытые обращения</h1>
</div>


@await Html.PartialAsync("/Views/Data/Modal/Partial/_TableAppealsPartial.cshtml", @Model)