@model List<RequestModel>

@{
    ViewData["Title"] = "Распоряжения и сопроводительные";
}

<div class="text-center">
    <h1 class="display-7">Распоряжения и сопроводительные</h1>
</div>


@await Html.PartialAsync("/Views/Data/Modal/Partial/_TableAppealsPartial.cshtml", @Model)