@using RosreestDocks.Interfaces
@using RosreestDocks.Models
@using RosreestDocks.Contexts
@using RosreestDocks.Helpers

@model RequestModel
@inject DataBaseContext db


<title>Рассмотрение обращение</title>
<h3>Обращение</h3>


@await Html.PartialAsync("/Views/Data/Modal/Partial/_AppealConsiderPartial.cshtml", @Model)
